<%= render 'layouts/customer_search' %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1">
      <div class="d-flex my-4">
        <h4>商品一覧</h4>
        <p>　(全<%= @active_products.count %>件)</p>
        <div class="ml-5">
          <%= form_with model: @product, url: public_product_sort_path, method: :get, local: true do |f| %>
            <%= f.select :keyword, [ ['新着順', 'new'],['価格が低い順', 'low_price'],['人気順', 'likes']] %>
            <%= f.submit "並び替え", class: "btn btn-sm btn-brown" %>
          <% end %>
        </div>
      </div>
      <div class="d-flex flex-wrap">
        <%= render "products_index", products: @products %>
      </div>
      <%= paginate @products %>
    </div>
  </div>
</div>