<h2 class='mt-5'>ログイン</h2>
<h4 class='mt-4'>会員の方はこちらからログイン</h4>
<div class='text-center '>
  <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
    <form class="form-horizontal">
      <div class="form-group mt-5">
        <label class="col-md-3 control-label"><%= f.label :メールアドレス %></label>
        <div class="col-md-5 mx-auto"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></div>
      </div>
    
      <div class="form-group mt-5">
        <label class="col-md-3 control-label"><%= f.label :パスワード %></label>
        <div class="col-md-5 mx-auto"><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></div>
      </div>
    
      <div class="actions mt-4">
        <%= f.submit "Log in", class: 'btn btn-info' %></dd>
      </div>
    </form>
  <% end %>
  <h4 class='mt-5'>会員登録がお済みでない方</h4>
  <p class='mt-4'><%= link_to "こちら", new_customer_registration_path %>から新規登録を行って下さい</p>
</div>
