<div id="content" class="top">
<div class='about-page'>
  <div class='container'>
    <div class="text-center">
      <div class='col-12 about-top-image mt-4'>
        <%= image_tag 'about1.jpeg', size: "900x250", class: 'about1 img-fluid rounded top-image' %>
        <h1 class='top-text display-4 font-weight-bold'></h1>
      </div>
      <div class='heading rounded mt-5'>
        <%= image_tag 'logo-removebg.png', size: "250x150", class: 'pt-5 img-fluid rounded top-image' %>
        <p class='mt-3 text-black-50 display-3'>NAGANO CAKE</p>
        <h6 class='mt-5 pb-5'>
          <p>ながのCAKEは全国発送可能なケーキ屋さんです</p>
          <p>お子様からお年寄りの方までお召し上がりいただけるよう</p>
          <p>また、全国への発送可能ですので「いつ」でも「どこ」でもご注文いただけます</p>
          <p>ぜひご注文ください</p>
        </h6>
      </div>
        <p class='mt-5 text-black-50 display-4'>Commitment To Taste</p>
        <h5 class='mt-4'>お店のこだわり</h5>
      <div class='small'>
      <div class='row fadein align-items-center mt-5'>
        <div class='col-7'>
          <%= image_tag 'about2.jpeg', size: "500x300", class: 'mt-5 img-fluid rounded' %>
        </div>
        <div class='col-5'>
          <h2 class='Text-Span JS_ScrollAnimationItem'>卵</h2>
          <h6 class='mt-5'>1日生み出されるのはたったの100個</h6>
          <p class='mt-3'>青森県三戸郡の西南部で作られる</p>
          <p>面積の約80％が森林、三つの清流に囲まれ</p>
          <p>上水道は湧き水という自然に恵まれた地域の</p>
          <p>日本一空気が澄んだ緑豊かな町で作られる</p>
          <p>厳選された卵のみを使用しています</p>
        </div>
      </div>
      <div class='row fadein align-items-center mt-5'>
        <div class='col-5'>
          <h2 class='Text-Span JS_ScrollAnimationItem'>バター</h2>
          <h6 class='mt-4'>高級フランス料理などでも使用されているバター</h6>
          <p class='mt-3'>大西洋側の温暖な気候に恵まれすばらしい牧草が育む土地で</p>
          <p>牧草をゆっくりと食べ、くつろぐ牛たちは乳脂肪の多い</p>
          <p>バター作りには最高のお乳を出してくれるのです</p>
          <p>高品質のバターが風味を一層引き出します</p>
        </div>
        <div class='col-7'>
          <%= image_tag 'about3.jpeg', size: "500x300", class: 'mt-5 img-fluid rounded' %>
        </div>
      </div>
      <div class='row fadein align-items-center mt-5 pb-5'>
          <div class='col-7'>
            <%= image_tag 'about4.jpeg', size: "500x300", class: 'mt-5 img-fluid rounded' %>
          </div>
          <div class='col-5'>
            <h2 class='Text-Span JS_ScrollAnimationItem'>小麦粉</h2>
            <h6 class='mt-4'>北海道産の良質な小麦粉のみを使用</h6>
            <p class='mt-3'>ケーキ作りに適した最高の小麦粉を追い求め</p>
            <p>薄力粉も強力粉も安心安全の</p>
            <p>優れた製菓に適した質を持つ小麦を使い</p>
            <p>土台であるスポンジなどの生地を作ります</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
<a href="#" id="topBtn" class="pr-2 pt-1">Top</a>
</div>