<div id="content" class="top">
<div class='top-page'> 
  <div class='header-bottom'></div>
  <div id="container" class='mb-5'>
    <div id="theTarget">
      <div class="slide1"></div>
      <div class="slide4"></div>
      <div class="slide3"></div>
      <div class="slide2"></div>
    </div>
  </div>
  
  <div class='container mt-5 text-center'>
    <p class='mt-5 text-black-50 display-4 p-3'>NEWS & TOPICS</p>
    <div class='row pb-5 topics-text'>
      
        <div class='col-4 p-5 topics' data-toggle="modal" data-target="#exampleModal1">
          <div class='topics-text text1 bg-white p-1'>
            <%= image_tag 'top1.jpeg', size: "300x600", class: 'img-fluid' %>
            <p class='mt-3 pb-3'>2021.06.25</p>
            <p>6月20日発売！ 新作カフェメニュー</p>
            <p>finger cake</p>
          </div>
        </div>
        
        <div class="modal fade" id="exampleModal1" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h6 class="modal-title">6月20日発売！ 新作カフェメニューのご案内</h6>
                <button class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= image_tag 'top1.jpeg', size: "500x1000", class: 'img-fluid' %>
                <h6 class="mt-3">フィンガーケイク「mini cake」</h6>
                <p>6月20日発売！ 新作カフェメニューが発売しました</p>
          　　　　<p>暑い夏に一口だけ食べたい時</p>
                <p>手軽に手でつまんで食べられるケーキです</p>
          　　　   <p class='mt-4'>￥320（税抜き）</p>
          　　　　 </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
        <div class='col-4 topics p-5' data-toggle="modal" data-target="#exampleModal2">
          <div class='topics-text text2 bg-white p-1'>
            <%= image_tag 'top4.jpeg', size: "300x600", class: 'img-fluid' %>
            <p class='mt-3 pb-3'>2021.06.07</p>
            <p class='font-weight-light'>【オンラインショッピング専用】</p>
            <p>サマーギフトのご案内</p>
          </div>
        </div>
        
        <div class="modal fade" id="exampleModal2" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h6 class="modal-title">【オンラインショッピング専用】サマーギフトのご案内</h6>
                <button class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= image_tag 'top4.jpeg', size: "500x1000", class: 'img-fluid' %>
                <h6 class="mt-3">プチケーキ６種類セット</h6>
                <p>サマーギフトはNAGANO CAKEでいかがでしょうか？</p>
          　　　　<p>お持ち帰りで人気のある商品をピックアップした</p>
                <p>大人気のケーキのギフトセットです</p>
          　　　   <p class='mt-4'>￥2200（税抜き）</p>
          　　　　 </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
        <div class='col-4 topics p-5' data-toggle="modal" data-target="#exampleModal3">
          <div class='topics-text text3 bg-white p-1'>
            <%= image_tag 'about1.jpeg', size: "300x600", class: 'img-fluid' %>
            <p class='mt-3 pb-3'>2021.05.28</p>
            <p class='font-weight-light'>数量限定ホールケーキ！</p>
            <p>Berry whole cake</p>
          </div>
        </div>
        
        <div class="modal fade" id="exampleModal3" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h6 class="modal-title">大事な人との記念日にいかかですか？</h6>
                <button class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= image_tag 'about1.jpeg', size: "500x1000", class: 'img-fluid' %>
                <h6 class="mt-3">4種のベリーケーキ</h6>
                <p>１日５個限定で販売いたします</p>
          　　　　<p>ベリーたっぷりの甘酸っぱいケーキを</p>
                <p>大切な記念日にお楽しみください</p>
          　　　   <p class='mt-4'>￥2500（税抜き）</p>
          　　　　 </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <a href='homes/about' class='link'>About</a>
      
    <p class='mt-5 text-black-50 display-4 p-3'>COFFEE</p>
    <div class='col-12 coffee'>
      <%= image_tag 'top2.jpeg', size: "800x300", class: 'img-fluid p-5 rounded' %>
      <p class='mt-4'>NAGANO CAKEではおいしいケーキに合うコーヒーも用意しております</p>
      <p class='mb-2 pb-4'>コーヒー豆を海外から直接仕入れ、こだわりのコーヒーを提供します</p>
      <p class='mb-3 pb-3'>OPEN 11:00 〜 CLOSE 16:00</p>
    </div>
  </div>
  
  <p class="mx-auto d-table mt-5 display-4 text-black-50">NEW PRODUCTS</p>
  <div class="row bg-gray" style="background-color: #ebe3d9;">
    <div class="col-10 offset-1">
      <div class="d-flex">
        <% @products.each do |product| %>
          <div class="mt-5 mr-5">
            <div>
              <%= link_to public_product_path(product) do %>
                <%= attachment_image_tag product, :image, size: '250x180', format:'jpeg', fallback: 'sample.jpg', class: "product_img" %>
              <% end %>
            </div>
            <div class="px-2 py-3" style="background-color: #ffffff">
              <div><%= product.name %></div>
              <div>¥<%= product.price.to_s(:delimited) %></div>
            </div>
          </div>
        <% end %>
      </div>
      <p class="text-right m-1 py-3"><%= link_to "all products＞", public_products_path, class: 'all_products' %></p>
    </div>
  </div>
</div>

<a href="#" id="topBtn" class="pr-2 pt-1">Top</a>
</div>
