<% if @model == 'customer' %>
  <div class="container">
	<h3>会員検索結果 "<%= @content %>"</h3>
	<h2 class='mt-5'>会員一覧</h2>
  <div class="col-2"></div>
  <div class="col-8 offset-2">
    <table class="table table-bordered text-center mt-5">
      <thead class="thead-light">
        <tr><th>会員ID</th><th>氏名</th><th>メールアドレス</th><th>ステータス</th></tr>
      </thead>
        <% @records.each do |customer| %>
          <tbody>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %></td>
              <td><%= customer.email %></td>
              <td><% if customer.is_deleted == false %>
                    <p class="text-success">有効</p>
                  <% else %>
                    <p class="text-danger">無効</p>
                  <% end %>
              </td>
            </tr>
          </tbody>
          </div>
        <% end %>
<% elsif @model == 'product'%>
  <div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
     <h3 class="mt-3">商品検索結果 "<%= @content %>"</h3>
      <h5 class="mt-3 mb-5 d-table" style="background-color: #e6e3de;">　商品一覧　</h5>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <% @records.each do |product| %>
            <tbody>
              <tr>
                <td><%= product.id %></td>
                <td><%= link_to "#{product.name}", admin_product_path(product) %></td>
                <td><%= product.price.to_s(:delimited) %></td>
                <td><%= Genre.find_by(id: product.genre_id).name %></td>
                <% if product.is_active? %>
                  <td class="text-success">販売中</td>
                <% else %>
                  <td class="text-secondary">販売停止中</td>
                <% end %>
              </tr>
            </tbody>
          <% end %>
        </table>
    </div>
  </div>
</div>

<% end %>