
  <nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <div class="container" style="height:100px">
      <div class="navbar-brand pt-3">
        <%= link_to root_path do %>
          <%= image_tag "logo.png", :size => '330x60' %>
        <% end %>
      </div>

      <div>
      <ul class="navbar-nav mb-2">
        <% if customer_signed_in? %>
          <li class="nav-item ml-auto">ようこそ<%= current_customer.last_name %>さん！</li>
        <% end %>
      </ul>

      <button class="navbar-toggler text-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if admin_admin_signed_in? %>
          <li class="mr-4 nav-item"><%= link_to '商品一覧',  admin_products_path, class: "nav-link text-dark" %></li>
          <li class="mr-4 nav-item"><%= link_to '会員一覧', admin_customer_path(current_customer), class: "nav-link text-dark" %></li>
          <li class="mr-4 nav-item"><%= link_to '注文履歴一覧', admin_orders_path, class: "nav-link text-dark" %></li>
          <li class="mr-4 nav-item"><%= link_to 'ジャンル一覧', admin_genres_path, class: "nav-link text-dark" %></li>
          <li class="mr-4 nav-item"><%= link_to 'ログアウト', destroy_admin_admin_session_path, class: "nav-link text-dark", method: :delete %></li>
          <% elsif customer_signed_in? %>
          <li class="mr-4 nav-item"><%= link_to 'MY PAGE', public_customer_path(current_customer), class: "nav-link text-dark" %></li>
          <li class="mr-4 nav-item"><%= link_to 'PRODUCTS', public_products_path, class: "nav-link text-dark" %></li>
          <li class="mr-4 nav-item"><%= link_to 'MY CART', public_cart_products_path, class: "nav-link text-dark" %></li>
          <li class="mr-4 nav-item"><%= link_to 'LOG OUT', destroy_customer_session_path, class: "nav-link text-dark", method: :delete %></li>
          <% else %>
          <li class="mr-4 nav-item"><%= link_to 'ABOUT', about_path, class: "nav-link text-dark" %></li>
          <li class="mr-4 nav-item"><%= link_to 'PRODUCTS', public_products_path, class: "nav-link text-dark" %></li>
          <li class="mr-4 nav-item"><%= link_to 'SIGN UP', new_customer_registration_path, class: "nav-link text-dark" %></li>
          <li class="mr-4 nav-item"><%= link_to 'LOG IN', new_customer_session_path, class: "nav-link text-dark" %></li>
          <% end %>
        </ul>
        </div>

      </div>
    </div>
    <!--<= render 'header_search' %>-->
  </nav>

