<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render 'layouts/header' %>
  <body>
    <% flash.each do |message_type, message| %>
      <% if message_type == "alert" %>
        <%= content_tag :div, message, class: :"alert alert-danger" %>
      <% else %>
        <%= content_tag :div, message, class: :"alert alert-success" %>
      <% end %>
    <% end %>
    <% if admin_admin_signed_in? %>
      <%= render 'layouts/search' %>
    <% elsif customer_signed_in? %>
  <div class="container">
  <div class="search-form text-right">
  <%= form_with url: public_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :content %>
    <%= f.select :model, options_for_select({ "Genre" => "genre", "Product" => "product" }) %>
    <%= f.submit '検索' %>
  <% end %>
</div>
</div>
    <% end %>

    <%= yield %>

  </body>
  <%= render 'layouts/footer' %>
</html>
